.contenedor {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
}

.cabecera {
  cursor: pointer;
  position: sticky;
  top: 0;
  z-index: 40;
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid var(--color-border);
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);

  .cabecera-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
  }

  .logo a {
    font-size: 1.875rem;
    font-weight: 800;
    letter-spacing: -0.05em;
    color: rgba(104, 104, 104, 0.552);
    text-decoration: none;

    .destacado { color: var(--color-accent); }
  }

  .boton {
	  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    font-weight: 600;
    border-radius: 0.5rem;
    background-color: var(--color-accent);
    color: var(--color-bg-light);
    border: none;
    cursor: pointer;
    transition: all 300ms;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);

    &:hover {
      background-color: #3c596f;
      box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    }
  }
}


.sidebar {
    cursor: pointer;
    position: absolute;
    top: 68px; 
    left: 0; 
    right: auto; 
    width: 160px;
    text-align: center;
    
    height: 720px;
    
    background-color: var(--color-bg-light);
    color: var(--color-text-medium);
    box-shadow: 0 4px 10px rgba(0,0,0,0.1); 
    z-index: 1000;
    padding: 20px 0;
}

.icono-set{
    width: 2.5rem; height: 2.5rem; color: var(--color-primary);
}

.icono:hover {
    color: var(--color-accent);
}

.icono-set:hover {
    color: var(--color-accent);
}

.icono-barra {
    width: 2.5rem; height: 2.5rem; & svg {width: 10rem; height: 2.5rem;} color: var(--color-primary);
}

.icono {
    width: 2.5rem; height: 2.5rem; color: var(--color-primary);
}