<main>
<div class="login-container">
  <h2>Iniciar sesión</h2>

  @if (errorMsg) {
    <div class="mensaje-error">
      <p>{{ errorMsg }}</p>
    </div>
  }
  
  <form (ngSubmit)="iniciarSesion()" #loginForm="ngForm">
    <div class="form-group">
      <label for="email">Correo electrónico</label>
      <input
        type="email"
        id="email"
        name="email"
        required
        [(ngModel)]="email"
        placeholder="ejemplo@correo.com"
        #emailRef="ngModel"
        [ngClass]="{
          'input-error': emailRef.invalid && emailRef.touched,
          'input-success': emailRef.valid && emailRef.touched
        }"
      />
      @if (emailRef.invalid && emailRef.touched) {
        <span class="error-text">El correo es obligatorio.</span>
      }
    </div>

    <div class="form-group">
      <label for="password">Contraseña</label>
      <input
        type="password"
        id="password"
        name="password"
        required
        [(ngModel)]="password"
        placeholder="•••••••••"
        #passRef="ngModel"
        [ngClass]="{
          'input-error': passRef.invalid && passRef.touched,
          'input-success': passRef.valid && passRef.touched
        }"
      />
      @if (passRef.invalid && passRef.touched) {
        <span class="error-text">La contraseña es obligatoria.</span>
      }
    </div>

    <button type="submit" [disabled]="!loginForm.valid">Ingresar</button>
  </form>

  <br>
  <button (click)="loginGoogle()" class="google-button">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c1/Google_%22G%22_logo.svg/1200px-Google_%22G%22_logo.svg.png" alt="Google logo" />
     Google
  </button>

  
  <p class="extra-text">
    ¿No tienes cuenta?
    <a (click)="irRegistro()" style="cursor:pointer;">
       Regístrate aquí
    </a>
  </p>
</div>
</main>