main {
  padding: 2rem 0 8.5rem;
  background-image: radial-gradient(at 20% 70%, rgba(65, 117, 152, 0.711) 0%, transparent 50%),
                    radial-gradient(at 80% 30%, rgba(211, 237, 128, 0.622) 0%, transparent 50%);
}

.login-container {
  width: 390px;
  margin: 100px auto;
  padding: 40px;
  background: #ffffff35;
  backdrop-filter: blur(12px);
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  text-align: center;
  border: 1px solid var(--color-border);
  animation: fadeIn 0.7s ease;

  h2 {
    color: var(--color-text-light);
    font-weight: 700;
    margin-bottom: 25px;
    letter-spacing: 0.5px;
  }

  .form-group {
    text-align: left;
    margin-bottom: 20px;

    label {
      display: block;
      font-weight: 600;
      font-size: 14px;
      margin-bottom: 6px;
      color: var(--color-text-medium);
    }

    input {
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      width: 100%;
      padding: 10px 12px;
      color : var(--color-text-medium);
      border: 1px solid var(--color-border);
      border-radius: 8px;
      font-size: 15px;
      background-color: rgba(255, 255, 255, 0.9);
      transition: all 0.3s ease;

      &:focus {
        outline: none;
        border-color: var(--color-primary);
        box-shadow: 0 0 4px var(--color-primary);
        background-color: #fff;
      }
    }
  }

  img {
    width: 13px;
  }

  p {
    color: var(--color-text-medium);
  }

  button {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100%;
    padding: 12px;
    background: var(--color-accent);
    border: none;
    border-radius: 8px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); 

    &:hover {
      background: var(--color-primary);
      transform: scale(1.02);
    }

    &:active {
      transform: scale(0.98);
    }
  }

  .extra-links {
    margin-top: 18px;
    font-size: 13px;

    a {
      color: #007bff;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}